<h2>Create new schedule</h2>

<% form_tag :action => "create" do %>
<p>Scheme: <%= select_tag "scheme", options_for_select( @schemes ) %></p>
<p>Start date: <%= date_select "conference", "start" %></p>
<p>Number of days: <%= text_field_tag :day_count, 2, :size => 3 %></p>
<p>Length of slots (minutes): <%= text_field_tag :slot_length, 30, :size => 4
%></p>
<p>Number of rooms for parallel tracks: <%= text_field_tag :room_count, 2, :size => 3 %></p> 
<p><%= submit_tag "Create Schedule" %></p>
<% end %>
