<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Yalta</title>
  <%= stylesheet_link_tag 'yalta' %>
</head>
<body>

<h1>Conference Planner</h1>

<hr/>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: yellow"><%= flash[:warning] %></p>
<p style="color: red"><%= flash[:error] %></p>

<%= yield %>

<hr/>
<div id="footer">
Yalta by <a href="mailto:schumacher@kde.org">Cornelius Schumacher</a>
</div>

</body>
</html>
